a(href="#top").up__btn.js-scroll-arrow

.fixed-menu.js_fixedMenu
    .container
        .fixed-menu__wrapper
            a(href="#null").header__logo
                span.header__logo--subtext Ведическая академия
                span.header__logo--name Shreenathji

            .header__menu
                ul.nav__list.nav__list--menu
                    li.nav__item.nav__item--menu
                        a(href="#null").nav__link Главная
                    li.nav__item.nav__item--menu
                        a(href="#null").nav__link О нас
                    li.nav__item.nav__item--menu
                        a(href="#null").nav__link Отзывы
                    li.nav__item.nav__item--menu
                        a(href="#null").nav__link Факультеты и курсы
                    li.nav__item.nav__item--menu
                        a(href="#null").nav__link Цены
                    li.nav__item.nav__item--menu
                        a(href="#null").nav__link Блог
                    li.nav__item.nav__item--menu
                        a(href="#null").nav__link.nav__link--logout Войти

            .header__mobile
                a(href="#null").hamburger.mobile__btn.js_nav
                    span.hamburger__line

header#top.header
    .header__top.wow.animated.fadeInDown(data-wow-duration="1s")
        .container
            a(href="#null").header__logo
                span.header__logo--subtext Ведическая академия
                span.header__logo--name Shreenathji

            .header__menu.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".5s")
                ul.nav__list.nav__list--menu
                    li.nav__item.nav__item--menu
                        a(href="#null").nav__link Главная
                    li.nav__item.nav__item--menu
                        a(href="#null").nav__link О нас
                    li.nav__item.nav__item--menu
                        a(href="#null").nav__link Отзывы
                    li.nav__item.nav__item--menu
                        a(href="#null").nav__link Факультеты и курсы
                    li.nav__item.nav__item--menu
                        a(href="#null").nav__link Цены
                    li.nav__item.nav__item--menu
                        a(href="#null").nav__link Блог
                    li.nav__item.nav__item--menu
                        a(href="#null").nav__link.nav__link--logout Войти

            .header__contacts
                include ../svg/whatsapp.svg
                .header__phone--wrapper
                    a(href="tel:+79211371029").header__phone +7 (925) 626-87-87

            .header__mobile
                a(href="#null").hamburger.mobile__btn.js_nav
                    span.hamburger__line

