+script([], ['main.js'])

head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='imagetoolbar', content='no')
    meta(name='msthemecompatible', content='no')
    meta(name='cleartype', content='on')

    block head

    title='Shreenathji'
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='copyright', content='')
    link(href='js/lib/wow/animate.css', rel='stylesheet', type='text/css')
    link(href='js/plugins/slick/slick.css', rel='stylesheet', type='text/css')
    link(href='http://jquery.page2page.ru/ui/jqueryui.custom.css', rel='stylesheet', type='text/css')
    link(href='css/main.css', rel='stylesheet', type='text/css')