/************************
      Media Queries
*************************/
.display-1200,
.display-1024,
.display-960,
.display-768,
.display-640,
.display-425
  display none

@media screen and (max-width:1200px)
  .display-1200
    display block

  .hidden-1200
    display none

  .uk-navbar-nav.hidden-1200
    display none

@media screen and (max-width:1024px)
  .display-1024
    display block

  .hidden-1024
    display none


@media screen and (max-width:959px)
  .display-960
    display block

  .hidden-960
    display none


@media screen and (max-width:767px)
  .display-768
    display block

  .hidden-768
    display none


@media screen and (max-width:639px)
  .display-640
    display block

  .hidden-640
    display none


@media screen and (max-width:425px)
  .display-425
    display block

  .hidden-425
    display none