html
  font-family sans-serif // 1
  -ms-text-size-adjust 100% // 2
  -webkit-text-size-adjust 100% // 2

body
  margin 0
  color #021026;
  font-family $font-base
  font-size $base-font-size
  line-height $base-line-height
  position relative
  font-weight 300
  background-color $background-page
  +to-width($screen-xm-max)
    font-size 15px
    line-height 1.4

*
  box-sizing border-box

img
  max-width 100%

:focus
  outline none

a,
a:visited
  text-decoration none
  transition 0.7s

a:hover,
a:active
  text-decoration none

p
  margin 0 0 10px

b,
strong
  font-weight 700