include ../layouts/banner
include ../layouts/about
include ../layouts/video
include ../layouts/program
include ../layouts/reviews
include ../layouts/how
include ../layouts/experience
include ../layouts/teachers
include ../layouts/supervisor
include ../layouts/welcome