.faculty-learning#faculty-veda-learning
    .container
        h2.title__wrapper.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".1s")
            .title__h2.with-border.with-border__long Факультет
            .title__h2 «Искусство жизни. Веды<br>и прикладная психолгия»