.faculty-learning#faculty-veda-learning
    .container
        h2.title__wrapper.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".1s")
            .title__h2.with-border.with-border__long Факультет
            .title__h2 «Искусство жизни. Веды<br>и прикладная психолгия»

        h3.title__light.title__light--pink Учебный процесс

        .text__c
            p Обучение на факультете предусматривает четыре курса по 108 часов каждый.<br>
                | Первые два являются базовыми — программа повторяется на всех факультетах.<br>
                | Третий и четвертый дают специальность и общие фундаментальные знания.

        .grid.grid-top
            .col-1-2.col-sm-1-1
                a.course__item.gray-border
                    h4
                        .course__title
                            .course__number.title__h2.text__black Курс&nbsp;I
                            .course__option.text__pink16light ОЧНО / ОНЛАЙН
                        .course__subtitle.text__16light.text__black
                            p Предназначение энергия отношения<br>
                              | «Сознание Брахмы»
                            p.text__gray Творец. Курс из трех частей
                    .line-divider

                    .course__content
                        h5.course__part-title.text__12light.text__12light--pink Часть 1. Передает фундаментальные Ведические Знания (57ч):
                        ul.list-small-dots.text__12light.text__black
                            li.list-small-dots__item O мироздании, человеке, карме (судьбе), дхарме, долге, духовном предназначении;
                            li.list-small-dots__item О высоких гармоничных отношениях, энергообмене и карма-йоге;
                            li.list-small-dots__item Наделяет сознанием высокой цели, призвания, энергией и удачей.
                        h5.course__part-title.text__12light.text__12light--pink Часть 2. Базовые практики хатха-йоги, очищения, здоровья спины, суставов (36ч).
                        h5.course__part-title.text__12light.text__12light--pink Часть 3. Введение в астрологию джйотиш, панчанга, мухурта, I ступень (15ч).
                        p.text__12light.text__black Каждый участник I-го курса получает расшифровку натальной карты в области предназначения,
                            | призвания и долга. Каждый выпускник получает свидетельство о прохождении курса, который
                            | является допуском ко II-му курсу.

                    .line-divider

                    .course__buy
                        .course__buy--group
                            .course__buy--type.text__16light.text__16light--romul.text__gray От
                            .course__buy--price.text__24romul.text__24romul--pink 21 000 РУБ.
                        .course__buy--more.text__24.text__24--pink ПОДРОБНЕЕ О КУРСЕ

            .col-1-2.col-sm-1-1
                a.course__item.gray-border
                    h4
                        .course__title
                            .course__number.title__h2.text__black Курс&nbsp;II
                            .course__option.text__pink16light ОЧНО / ОНЛАЙН
                        .course__subtitle.text__16light.text__black
                            p Джйотиш, концентрация, успех,<br>
                                | «Сознание Шивы»
                            p.text__gray Организатор. Курс из двух частей
                    .line-divider

                    .course__content
                        h5.course__part-title.text__12light.text__12light--pink Часть 1. Фундаментальные знания психики человека и законов успеха(36ч):
                        p.text__12light.text__black Принципы концентрации и управления собственной психикой.
                            | Позволяет усилить характер и способности, что приводит к успеху.
                        h5.course__part-title.text__12light.text__12light--pink Часть 2. Практика кундалини-йоги, пранаямы, пратьяхары и концентрации (18ч).
                        p.text__12light.text__black Включает подробное изучение всех инструментов ведической астрологии.
                        p.text__12light.text__black Каждый участник по окончании II-го курса получает свидетельство о прохождении курса, который
                            | является допуском ко III-му курсу.

                    .line-divider

                    .course__buy
                        .course__buy--group
                            .course__buy--type.text__16light.text__16light--romul.text__gray От
                            .course__buy--price.text__24romul.text__24romul--pink 12 000 РУБ.
                        .course__buy--more.text__24.text__24--pink ПОДРОБНЕЕ О КУРСЕ
            .col-1-2.col-sm-1-1
                a.course__item.gray-border
                    h4
                        .course__title
                            .course__number.title__h2.text__black Курс&nbsp;III
                            .course__option.text__pink16light ОЧНО / ОНЛАЙН
                        .course__subtitle.text__16light.text__black
                            p Управление сознанием и действительностью<br>
                                | «Сознание Вишну»
                            p.text__gray Лидер. Курс из двух частей
                    .line-divider

                    .course__content
                        h5.course__part-title.text__12light.text__12light--pink Часть 1. Фундаментальные знания социальной психологии, законов общества (36ч):
                        p.text__12light.text__black Учит способности обретать и умножать счастье благодаря работе с обществом. Несет знание и навык осознанности,
                            | глубокое восприятие общества и вселенной.
                        h5.course__part-title.text__12light.text__12light--pink Часть 2. Передает знания раджа-йоги и практик дхараны, свидетельствования (18ч).
                        p.text__12light.text__black Каждый студент по окончании III-го курса, сдачи экзамена и прохождения практики
                            | получает сертификат с указанием квалификации и профессии:
                        ul.list-small-dots.text__12light.text__black
                            li.list-small-dots__item Oрганизатор и лидер;

                    .line-divider

                    .course__buy
                        .course__buy--group
                            .course__buy--type.text__16light.text__16light--romul.text__gray От
                            .course__buy--price.text__24romul.text__24romul--pink 12 000 РУБ.
                        .course__buy--more.text__24.text__24--pink ПОДРОБНЕЕ О КУРСЕ
            .col-1-2.col-sm-1-1
                a.course__item.gray-border
                    h4
                        .course__title
                            .course__number.title__h2.text__black Курс&nbsp;IV
                            .course__option.text__pink16light ОЧНО
                        .course__subtitle.text__16light.text__black
                            p Познание истины<br>
                                | «Сознание Абсолюта»
                            p.text__gray Наставник. Курс из двух частей
                    .line-divider

                    .course__content
                        h5.course__part-title.text__12light.text__12light--pink Часть 1. Фундаментальные знания социальной психологии, законов общества (36ч):
                        p.text__12light.text__black Учит способности обретать и умножать счастье благодаря работе с обществом. Несет знание и навык осознанности,
                            | глубокое восприятие общества и вселенной.
                        h5.course__part-title.text__12light.text__12light--pink Часть 2. Передает знания раджа-йоги и практик дхараны, свидетельствования (18ч).
                        p.text__12light.text__black Каждый студент по окончании III-го курса, сдачи экзамена и прохождения практики
                            | получает сертификат с указанием квалификации и профессии:
                        ul.list-small-dots.text__12light.text__black
                            li.list-small-dots__item Наставник (только для специалистов с высшим образованием или значительным жизненным опытом);

                    .line-divider

                    .course__buy
                        .course__buy--group
                            .course__buy--type.text__16light.text__16light--romul.text__gray От
                            .course__buy--price.text__24romul.text__24romul--pink 12 000 РУБ.
                        .course__buy--more.text__24.text__24--pink ПОДРОБНЕЕ О КУРСЕ

        .course__statement.text__c
            p Обучение проходит на 4 курсах и длится до 2 лет.<br>
                | Курс несет фундаментальные знания о мироздании, человеке,<br>
                | отношениях, концентрации и основах йоги,<br>
                | без которых восприятие любой ведической науки невозможно.




    .course__compare-package.text__c
        a.btn.btn--full.btn--longer Сравнение пакетов

    .container
        h2.course__general.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".1s")
            .with-border.with-border__long.title__pink О&nbsp;Ведах
        .course__general--info
            .grid.grid-top
                .col-1-2.col-sm-1-1
                    p Веды — неисчерпаемая сокровищница сути знания. Веды ведают о том, что неведомо
                        | другим источникам знания. У Вед нет создателя. Веды описывают саму суть мироздания.
                    p С начала времен знания передавались из уст в уста. Тексты буквально заучивались. Около пяти
                        | тысяч лет назад с приходом Кали-юги, Веды были записаны учениками под руководстом риши Вьясадевы
                        | (явление Всевышнего на Земле).
                    p В возрасте ста лет, за шестьсот лет до Махабхараты (Великой войны), он начал работу по сбору и записи Вед.
                        | Вьяса лишь передавал знание, но не сам сочинял его. Ключи к изучению Веды Вьяса передал
                        | последователям в итоговом тексте — Веданте
                    p Тексты Веды авторитетны, так как переданы непосредственно Всевышним, без вмешательства личности —
                        | то есть они свободны от какого-либо человеческого желания или намерения (Апурушея).
                .col-1-2.col-sm-1-1
                    p Не имея автора, Веды являются высшим авторитетом Знания.
                    p Веды изначально являются цельным Знанием, гармонично объединяющим духовный и материальный аспекты.
                        | Они позволяют искателю успешно достичь двух целей: материальной (успешной жизни в материальном мире)
                        | и духовной (душевной гармонии, счастья, просветления и освобождения).
                    p Веды можно сравнить с матерью, которая дает своим детям все в матеральном мире, но при этом указывает
                        |  на отца — Всевышнего. Человеческое тело Веды сравнивают с лодкой, на которой можно
                        | пересечь океан материального мира под руководством капитана — духовного наставника, благодаря
                        | очищению разума и Знанию Веды, которая, как ветер, наполняет паруса.
                    p Современная наука подтвердила возраст текстов Веды — около 5000 лет.
        .line-divider.margin-bottom90