.faculty-about#faculty-veda-about
    .container
        h1.faculty-about__title.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".1s")
            .title__main Искусство
            .title__main.with-border
                span жизни
            .title__subtext Веды и прикладная психология
        .faculty-about__text
            p Факультет проводит фундаментальную<br>
                | подготовку сознания студентов академии

        .grid.qualification2

            .qualification2__item.qualification-text
                .qualification-text__valign Консультант (лидер)

            .qualification2__item.qualification-text
                .qualification-text__valign Наставник

        .btn__wrapper.btn__wrapper--center.faculty__btn-wrapper1.with-border1.with-border1__long
            .btn.btn--full КВАЛИФИКАЦИИ

        .faculty-about__text
            p Программа академии «Shreenathji» позволяет каждому студенту<br>
                | факультета «Искусство жизни» решить такие задачи:

        .grid
            .col-1-3.col-xs-1-1
                .faculty__task-item
                    .faculty__task-item--top
                        .faculty__task-number 1
                        .faculty__task-desc Повысить свой личный уровень концентрации, осознанности, высоты целей
                    .faculty__task-item--bottom
                        .faculty__task-number 2
                        .faculty__task-desc Осознать личное призвание, свои слабые и сильные стороны, развить таланты
            .col-1-3.col-xs-1-1
                .faculty__task-item
                    .faculty__task-item--top
                        .faculty__task-number 3
                        .faculty__task-desc Принять свой долг, предназначение и высшую цель
                    .faculty__task-item--bottom
                        .faculty__task-number 4
                        .faculty__task-desc Научиться высоким отношениям
            .col-1-3.col-xs-1-1
                .faculty__task-item
                    .faculty__task-item--top
                        .faculty__task-number 5
                        .faculty__task-desc Обрести энергию и знание о мироздании, научиться достигать целей
                    .faculty__task-item--bottom
                        .faculty__task-number 6
                        .faculty__task-desc Получить знание о социуме, управленческие и наставнические навыки