.grid.grid-nomargin-top.package-types
    .col-1-4.col-sm-1-2.col-xs-1-1
        a(href="#null")
            .package__wrapper
                .text__c.text__18.text__romul.text__black Консультант
                .text__c.text__18.text__romul.text__gray I, II, III СТУПЕНИ
                .line-divider-in-box
                .text__c.text__14.text__pink.margin-bottom20 Онлайн
                .text__c.text__18.text__black 45 000 руб.
                .buy__wrapper
                    .buy.text__c.text__16.text__medium.text__blue КУПИТЬ
    .col-1-4.col-sm-1-2.col-xs-1-1
        a(href="#null")
            .package__wrapper
                .text__c.text__18.text__romul.text__black Консультант
                .text__c.text__18.text__romul.text__gray I, II, III СТУПЕНИ
                .line-divider-in-box
                .text__c.text__14.text__pink.margin-bottom20 Очный
                .text__c.text__18.text__black 60 000 руб.
                .buy__wrapper
                    .buy.text__c.text__16.text__medium.text__blue КУПИТЬ
    .col-1-4.col-sm-1-2.col-xs-1-1
        a(href="#null")
            .package__wrapper
                .text__c.text__18.text__romul.text__black Консультант
                .text__c.text__18.text__romul.text__gray I, II, III СТУПЕНИ
                .line-divider-in-box
                .text__c.text__14.text__pink.margin-bottom20 Стандарт <span class="text__gray">(онлайн/очно)</span>
                .text__c.text__18.text__black 78 000 руб.
                .buy__wrapper
                    .buy.text__c.text__16.text__medium.text__blue КУПИТЬ
    .col-1-4.col-sm-1-2.col-xs-1-1
        a(href="#null")
            .package__wrapper
                .text__c.text__18.text__romul.text__black Консультант
                .text__c.text__18.text__romul.text__gray I, II, III СТУПЕНИ
                .line-divider-in-box
                .text__c.text__14.text__pink.margin-bottom20 Элит<span class="text__gray">(онлайн/очно)</span>
                .text__c.text__18.text__black 198 000 руб.
                .buy__wrapper
                    .buy.text__c.text__16.text__medium.text__blue КУПИТЬ
    .col-1-4.col-sm-1-2.col-xs-1-1
        a(href="#null")
            .package__wrapper
                .text__c.text__18.text__romul.text__black Наставник
                .text__c.text__18.text__romul.text__gray I — IV СТУПЕНИ
                .line-divider-in-box
                .text__c.text__14.text__pink.margin-bottom20 Онлайн
                .text__c.text__18.text__black 59 000 руб.
                .buy__wrapper
                    .buy.text__c.text__16.text__medium.text__blue КУПИТЬ
    .col-1-4.col-sm-1-2.col-xs-1-1
        a(href="#null")
            .package__wrapper
                .text__c.text__18.text__romul.text__black Наставник
                .text__c.text__18.text__romul.text__gray I — IV СТУПЕНИ
                .line-divider-in-box
                .text__c.text__14.text__pink.margin-bottom20 Очный
                .text__c.text__18.text__black 72 000 руб.
                .buy__wrapper
                    .buy.text__c.text__16.text__medium.text__blue КУПИТЬ
    .col-1-4.col-sm-1-2.col-xs-1-1
        a(href="#null")
            .package__wrapper
                .text__c.text__18.text__romul.text__black Наставник
                .text__c.text__18.text__romul.text__gray I — IV СТУПЕНИ
                .line-divider-in-box
                .text__c.text__14.text__pink.margin-bottom20 Стандарт<span class="text__gray">(онлайн/очно)</span>
                .text__c.text__18.text__black 102 000 руб.
                .buy__wrapper
                    .buy.text__c.text__16.text__medium.text__blue КУПИТЬ
    .col-1-4.col-sm-1-2.col-xs-1-1
        a(href="#null")
            .package__wrapper
                .text__c.text__18.text__romul.text__black Наставник
                .text__c.text__18.text__romul.text__gray I — IV СТУПЕНИ
                .line-divider-in-box
                .text__c.text__14.text__pink.margin-bottom20 Элит<span class="text__gray">(онлайн/очно)</span>
                .text__c.text__18.text__black 252 000 руб.
                .buy__wrapper
                    .buy.text__c.text__16.text__medium.text__blue КУПИТЬ