$small-font-size = 14px
$base-font-size = 16px

$base-line-height = 1.53
$computed-line-height = ($base-font-size * $base-line-height)
$background-page = #fff

$font-base = 'Roboto', sans-serif;
$font-second = Romul;

$base-color = #00c0f3
$second-color = #92278f
$gray-color = #f2f2f2
$base-color-hover = darken($base-color, 20%)
$secons-color-hover = darken($second-color, 20%)

$screen-sp-min = 425px
$screen-xm-min = 640px
$screen-sm-min = 768px
$screen-md-min = 960px
$screen-lg-min = 1200px

$screen-xs-max = ($screen-sp-min - 1)
$screen-sp-max = ($screen-xm-min - 1)
$screen-xm-max = ($screen-sm-min - 1)
$screen-sm-max = ($screen-md-min - 1)
$screen-md-max = ($screen-lg-min - 1)

