extends ../layouts/default

block head
    - var cssFile = 'css/main.css'
    - var pageTitle = 'Shreenathji- faculties page'
    - var bodyClass = 'faculties-page'

block content
    include ../blocks/header

    main.content
        include ../content/faculties

    include ../blocks/footer