.course-banner
    .course-first-back
    .container
        .banner__logo
            .course-first-logo.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".1s")
            h1.course-banner__name.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".3s") Курс I
            h2.banner__subtext.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".5s") Предназначение, энергия, отношения<Br>три смысла жизни «Сознание Брахмы»

        .course-banner__text.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".8s")
            .text__blue.text__romul.text__40.margin-bottom20 Творец
            .text__16.margin-bottom20 <span class="span-margin10">Веды</span> &#8226; <span class="span-margin10">Астрология Джйотиш</span> &#8226; <span class="span-margin10">Йога</span> &#8226; <span class="span-margin10">Призвание</span> &#8226; <span class="span-margin10">Отношения</span> &#8226; <span class="span-margin10">Здоровье</span>

        .text__blue.text__c Единый фундаментальный курс Ведического образования
