.course__info.background-gray
    .container
        .grid.grid-top.grid-nomargin-top.padding-top100
            .col-1-2.col-sm-1-1.margin-bottom20
                .course__info--item
                    .text__18.text__romul.text__pink Знания Веды, Джйотиш и Йоги
                    .line-divider
                    ul.list-small-dots
                        li Всё это древнейшие науки, которым более 5000 лет;
                        li Из них вышли все религии и философии: Дао, Дзен, Каббала и пр.;
                        li Все коучи мира черпают знания в какой-то из них;
                    p Но в академии вы получите их все вместе!
                    .line-divider
                    .text__pink.text__18 Если вы:
                    ul.course-objective-list.list-small-dots
                        li Хотите уверенности в своём завтра;
                        li Хотите обрести смысл жизни;
                        li Хотите преуспеть в бизнесе;
                        li Хотите создать лучшие для себя отношения;
                        li Хотите растить счастливых и успешных детей;
                        li Хотите подружиться со своим телом;
                        li Хотите творить свою жизнь в легкости и радости;
                    .text__pink.text__18 Этот курс для вас!



            .col-1-2.col-sm-1-1
                .course__info--item
                    .text__18.text__romul.text__pink Вы обретёте
                    .line-divider
                    ul.list-small-dots
                        li Смысл жизни предназначение и цель;
                        li Преодолеете одиночество и лень;
                        li Успех, энергию, гармоничные отношения;
                        li Знание законов времени и судьбы;
                        li Фундамент профессионального Ведического обучения;
                    .line-divider
                    .text__pink.text__18.margin-bottom10 Курс передает знания трех факультетов:

                    .text__pink.text__16 «Искусство жизни, Веды, практическая психология»:
                    ul.list-small-dots
                        li Мироздание, энергосистема человека, предназначение и цели;
                        li Судьба, теория успеха, психология отношений и синергия;
                    .text__pink.text__16 Факультет «Классическая йога и йогатерапия»:
                    ul.list-small-dots
                        li Основы классической йоги и практики очищения;
                        li Утренний комплекс. Навыки здорового образа жизни;
                    .text__pink.text__16 Факультет «Ведическая астрология Джйотиш»:
                    ul.list-small-dots
                        li Введение в астрологию. Базовые знания Джйотиш (I ступень;
                        li Панчанга, мухурта (Выбор благоприятного времени).;


        .btn__wrapper.btn__wrapper--center.with-border1.with-border1__long
            a.btn.btn--full.min-width245 Записаться на курс