.banner
    video(autoplay muted loop)
        source(src="/img/custom/video-top-1.7Mb.mp4" type="video/mp4")
        span Your browser does not support the video tag.
    .container
        .banner__logo
            .logo.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".1s")
            h1.banner__name.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".3s") Академия
            h2.banner__subtext.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".5s") ведической астрологии,<Br>Йоги, Васту и Аюрведы

        .banner__text.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".8s") Познай Предназначение, Судьбу и Мироздание. Обрети профессию и успех.<br>Научись управлять событиями жизни благодаря Высшему Знанию Вед.<br>Онлайн и Очно.

        .btn__wrapper.btn__wrapper--center
            .btn.btn--full ПОЛУЧИТЬ БЕСПЛАТНЫЙ КУРС
