.experience
    .container
        h2.title__wrapper.title__wrapper--experience.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".1s")
            .title__subtext Получив знание Вед,<br>Джйотиш, Йоги, Васту и Аюрведы,
            .title__main.with-border
                span вы сможете

        .experience__list.grid.grid-top
            .col-1-3.col-sm-1-2.col-xs-1-1
                .experience__item.experience__item--1
                    .experience__icon.experience__icon--1.wow.animated.flipInX(data-wow-duration="1s", data-wow-delay=".3s")
                    .experience__desc.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".8s") Преодолеть страх и лень, научиться концентрации, обрести уверенность в силах

            .col-1-3.col-sm-1-2.col-xs-1-1
                .experience__item.experience__item--2
                    .experience__icon.experience__icon--2.wow.animated.flipInX(data-wow-duration="1s", data-wow-delay=".6s")
                    .experience__desc.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".8s") Найти смысл жизни, своё призвание, любимую работу или открыть своё дело

            .col-1-3.col-sm-1-2.col-xs-1-1
                .experience__item.experience__item--3
                    .experience__icon.experience__icon--3.wow.animated.flipInX(data-wow-duration="1s", data-wow-delay=".9s")
                    .experience__desc.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".8s") Получить востребованную профессию

            .col-1-3.col-sm-1-2.col-xs-1-1
                .experience__item.experience__item--4
                    .experience__icon.experience__icon--4.wow.animated.flipInX(data-wow-duration="1s", data-wow-delay="1.1s")
                    .experience__desc.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".8s") Обрести посвящение в знание от наставников древних школ

            .col-1-3.col-sm-1-2.col-xs-1-1
                .experience__item.experience__item--5
                    .experience__icon.experience__icon--5.wow.animated.flipInX(data-wow-duration="1s", data-wow-delay="1.4s")
                    .experience__desc.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".8s") Разрабатывать и рекомендовать индивидуальные программы оздоровления и развития

            .col-1-3.col-sm-1-2.col-xs-1-1
                .experience__item.experience__item--6
                    .experience__icon.experience__icon--6.wow.animated.flipInX(data-wow-duration="1s", data-wow-delay="1.7s")
                    .experience__desc.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".8s") Подбирать благоприятное время для начала дел

        .btn__wrapper.btn__wrapper--center
            .btn.btn--full.js_modal(data-target="contact-modal") ПОЛУЧИТЬ БЕСПЛАТНЫЙ КУРС