.faculties-main
    .container
        h2.title__wrapper.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".1s")
            .title__subtext В академии действуют
            .title__pink.with-border.with-border__long
                span Факультеты

        .faculties-main__list.grid.grid-top
            .col-1-4.col-sm-1-2.col-xs-1-1
                .faculties-main__item
                    a(href="#null").faculties-main__img.faculties-main__img--1.animated.flipInX(data-wow-duration="1s", data-wow-delay=".3s")
                    .faculties-main__name.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".4s") ДАЕТ КВАЛИФИКАЦИЮ
                    .faculties-main__desc.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".8s")
                        p
                            | Искусство жизни консультант
                            br
                            | Организатор и лидер
                            br
                            | Наставник

            .col-1-4.col-sm-1-2.col-xs-1-1
                .faculties-main__item
                    a(href="#null").faculties-main__img.faculties-main__img--2.animated.flipInX(data-wow-duration="1s", data-wow-delay=".6s")
                    .faculties-main__name.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".4s") ГОТОВИТ СПЕЦИАЛИСТОВ
                    .faculties-main__desc.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".8s")
                        p
                            | Консультант йоги
                            br
                            | Преподаватель йоги
                            br
                            | Йога-терапевт

            .col-1-4.col-sm-1-2.col-xs-1-1
                .faculties-main__item
                    a(href="#null").faculties-main__img.faculties-main__img--3.animated.flipInX(data-wow-duration="1s", data-wow-delay=".9s")
                    .faculties-main__name.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".4s") ГОТОВИТ СПЕЦИАЛИСТОВ
                    .faculties-main__desc.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".8s")
                        p
                            | Консультант-астролог
                            br
                            | Астро-психолог
                            br
                            | Астро-консультант HR-агентств
            .col-1-4.col-sm-1-2.col-xs-1-1
                .faculties-main__item
                    a(href="#null").faculties-main__img.faculties-main__img--4.animated.flipInX(data-wow-duration="1s", data-wow-delay="1.2s")
                    .faculties-main__name.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".4s") ГОТОВИТ СПЕЦИАЛИСТОВ
                    .faculties-main__desc.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".8s")
                        p
                            | Васту-дизайнер интерьеров
                            br
                            | Васту-архитектор