.faculties-main
    .container
        h2.title__wrapper.wow.animated.wow.fadeIn(data-wow-duration="1s", data-wow-delay=".1s")
            .title__subtext В академии действуют
            .title__pink.with-border.with-border__long
                span Факультеты

        .faculties-main__list.grid.grid-top
            .col-1-4.col-sm-1-2.col-xs-1-1
                .faculties-main__item
                    a(href="#null").faculties-main__img.faculties-main__img--1.animated.flipInX(data-wow-duration="1s", data-wow-delay=".3s")
                        .faculties-main__img--title Искусство жизни.<br>Веды. Практическая<br>психология
                    .btn__wrapper.btn__wrapper--center-overlapped
                        .btn.btn--full От 21 000 руб.
                    .faculties-main__name ДАЕТ КВАЛИФИКАЦИЮ
                    .faculties-main__desc
                        p
                            | Искусство жизни консультант
                            br
                            | Организатор и лидер
                            br
                            | Наставник

            .col-1-4.col-sm-1-2.col-xs-1-1
                .faculties-main__item
                    a(href="#null").faculties-main__img.faculties-main__img--2.animated.flipInX(data-wow-duration="1s", data-wow-delay=".6s")
                        .faculties-main__img--title Классическая йога.<br>Йога-терапия<br><br>
                    .btn__wrapper.btn__wrapper--center-overlapped
                        .btn.btn--full От 21 000 руб.
                    .faculties-main__name ГОТОВИТ СПЕЦИАЛИСТОВ
                    .faculties-main__desc
                        p
                            | Консультант йоги
                            br
                            | Преподаватель йоги
                            br
                            | Йога-терапевт

            .col-1-4.col-sm-1-2.col-xs-1-1
                .faculties-main__item
                    a(href="#null").faculties-main__img.faculties-main__img--3.animated.flipInX(data-wow-duration="1s", data-wow-delay=".9s")
                        .faculties-main__img--title Ведическая<br>астрология<br>джйотиш
                    .btn__wrapper.btn__wrapper--center-overlapped
                        .btn.btn--full От 21 000 руб.
                    .faculties-main__name ГОТОВИТ СПЕЦИАЛИСТОВ
                    .faculties-main__desc
                        p
                            | Консультант-астролог
                            br
                            | Астро-психолог
                            br
                            | Астро-консультант HR-агентств
            .col-1-4.col-sm-1-2.col-xs-1-1
                .faculties-main__item
                    a(href="#null").faculties-main__img.faculties-main__img--4.animated.flipInX(data-wow-duration="1s", data-wow-delay="1.2s")
                        .faculties-main__img--title Ведическая<br>архитектура<br>васту
                    .btn__wrapper.btn__wrapper--center-overlapped
                        .btn.btn--full От 21 000 руб.
                    .faculties-main__name ГОТОВИТ СПЕЦИАЛИСТОВ
                    .faculties-main__desc
                        p
                            | Васту-дизайнер интерьеров
                            br
                            | Васту-архитектор