.faculties-main
    .container
        h2.title__wrapper.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".1s")
            .title__subtext В академии действуют
            .title__pink.with-border.with-border__long
                span Факультеты

        .faculties-main__list.grid.grid-top
            .col-1-4.col-sm-1-2.col-xs-1-1
                .about__item
                    .about__icon.about__icon--1.animated.flipInX(data-wow-duration="1s", data-wow-delay=".3s")
                    .about__name.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".4s") О СЕМЬЕ И ОТНОШЕНИЯХ
                    .about__desc.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".8s") Как построить гармоничные отношения? Как воспитывать ребенка счастливым и уверенным, без крика?

            .col-1-4.col-sm-1-2.col-xs-1-1
                .about__item
                    .about__icon.about__icon--2.animated.flipInX(data-wow-duration="1s", data-wow-delay=".6s")
                    .about__name.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".4s") О ЗДОРОВЬЕ И СЧАСТЬЕ
                    .about__desc.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".8s") Как быть здоровым и энергичным? Как излечить любую болезнь?

            .col-1-4.col-sm-1-2.col-xs-1-1
                .about__item
                    .about__icon.about__icon--3.animated.flipInX(data-wow-duration="1s", data-wow-delay=".9s")
                    .about__name.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".4s") О ПРЕДНАЗНАЧЕНИИ И ПРОФЕССИИ
                    .about__desc.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".8s") Как найти свое предназначение и развить свой талант? Какая профессия подходит мне?

            .col-1-4.col-sm-1-2.col-xs-1-1
                .about__item
                    .about__icon.about__icon--4.animated.flipInX(data-wow-duration="1s", data-wow-delay="1.2s")
                    .about__name.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".4s") ОБ УСПЕХЕ И ДЕЛОВОЙ ЖИЗНИ
                    .about__desc.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".8s") Как, где и с кем зарабатывать деньги? Как найти бизнес-идею и открыть дело?