.faculties-about
    .container
        h2.title__wrapper.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".1s")
            .title__main.with-border
                span Факультеты и курсы
            .title__subtext Обучение онлайн и очно <br> в Индии, России и Казахстане по-русски
        .faculties-about__text
            p Науки: Веды, Астрология, Джйотиш, Йога, Васту, Аюрведа - им более 5000 лет!
            p Познайте искусство счастливой жизни. Обретите благородную профессию.
            br
            p Вы поймете себя и Вселенную, соприкоснетесь с источником всех Знаний человечества!
            p Наставники Академии посвящены хранителями древнейших школ на Земле.
