.faculties-knowledge
    .container
        h2.title__wrapper.wow.animated.wow.fadeIn(data-wow-duration="1s", data-wow-delay=".1s")
            .title__subtext.title__light--pink Структура передачи знания
            .title__subtext Студентам ведической академии
            .title__subtext.with-border.with-border__long
                span Шринаджи

        h4(style="margin-top: 50px").title__wrapper.title__light-no-bottom-margin Программа предусматривает не просто передачу профессиональных знаний,<br>но и развитие человека и в материальном и в духовном плане

        .two-blocks.grid.grid-top
            .col-1-2.col-sm-1-1
                .two-blocks__with-border
                    h3.two-blocks__with-border--title Четыре цели имеет каждый человек:
                    ul
                        li Предназначение и долг (Дхарма)
                        li Материальная реализация (Артха)
                        li Возрастающее счастье (Кама)
                        li Полная свобода сознания (Мокша)
            .col-1-2.col-sm-1-1
                .two-blocks__with-border
                    h3.two-blocks__with-border--title Для реализации развивают сознание:
                    ul
                        li От спящего ("я &mdash; тело") и хаотического ("я &mdash; энергия")
                        li Через произвольное ("я &mdash; знание")
                        li К концентрированному ("я &mdash; свобода")
                        li И остановленному ("я &mdash; блаженство")

        h4(style="margin-top: 50px").title__wrapper.title__light-no-bottom-margin Каждая ступень академии дает студенту и профессиональные знания<br>но и возможность для достижения следующего уровня сознания<br>и реализации следующей жизни. Между курсами происходит практическая<br>реализация полученных знаний в жизни.

        .line-divider-short