.faculties-courses
    .container
        h2.title__wrapper.wow.animated.wow.fadeIn(data-wow-duration="1s", data-wow-delay=".1s")
            .title__h2 Отдельные курсы
            .title__h2.with-border.with-border__long
                span Академии
        h3.title__light.title__light--pink Фундаментальные знания

        .faculties-courses__list.grid.grid-top
            .col-1-4.col-sm-1-2.col-xs-1-1
                .faculties-main__item
                    a(href="#null").faculties-main__img.faculties-courses__img-1.animated.flipInX(data-wow-duration="1s", data-wow-delay=".3s")
                        .faculties-main__title
                            .faculties-main__img--title Вводный курс<br>Академии
                            .faculties-main__more ПОДРОБНЕЕ
                    .btn__wrapper.btn__wrapper--center-overlapped
                        .btn.btn--full Бесплатно
                    p.faculties-courses__desc
                        | Веды &mdash; сверхзнание. Путь человека. Формула счастья. Суль отношений. Введение в астрологию. Успех.

            .col-1-4.col-sm-1-2.col-xs-1-1
                .faculties-main__item
                    a(href="#null").faculties-main__img.faculties-courses__img-2.animated.flipInX(data-wow-duration="1s", data-wow-delay=".6s")
                        .faculties-main__title
                            .faculties-main__img--title Что такое веди-<br>ческая астрология<br>джйотиш?
                            .faculties-main__more ПОДРОБНЕЕ
                    .btn__wrapper.btn__wrapper--center-overlapped
                        .btn.btn--full Бесплатно
                    p.faculties-courses__desc
                        | Джйотиш и теория полей. Как раскрыть суть призвания? Способы изменения судьбы.

            .col-1-4.col-sm-1-2.col-xs-1-1
                .faculties-main__item
                    a(href="#null").faculties-main__img.faculties-courses__img-3.animated.flipInX(data-wow-duration="1s", data-wow-delay=".9s")
                        .faculties-main__title
                            .faculties-main__img--title Мировоззрение<br>и гармония<br>сознания
                            .faculties-main__more ПОДРОБНЕЕ
                    .btn__wrapper.btn__wrapper--center-overlapped
                        .btn.btn--full 2 000 руб.
                    p.faculties-courses__desc
                        | Механизм страдания и счастия. Эпохи развития человечества. Сравнение мировоззрений.

            .col-1-4.col-sm-1-2.col-xs-1-1
                .faculties-main__item
                    a(href="#null").faculties-main__img.faculties-courses__img-4.animated.flipInX(data-wow-duration="1s", data-wow-delay="1.2s")
                        .faculties-main__title
                            .faculties-main__img--title Дхарма<br>Предназначение<br>Цели и путь
                            .faculties-main__more ПОДРОБНЕЕ
                    .btn__wrapper.btn__wrapper--center-overlapped
                        .btn.btn--full 6 000 руб.
                    p.faculties-courses__desc
                        | В чем смысл жизни? Предназначение. Ваш духовный и материальный пуль. Высшая цель и как она формируется?

        .line-divider

        h3.title__light.title__light--pink Здоровье и гармоничные отношения

        .faculties-courses__list.grid.grid-top
            .col-1-4.col-sm-1-2.col-xs-1-1
                .faculties-main__item
                    a(href="#null").faculties-main__img.faculties-courses__img-5.animated.flipInX(data-wow-duration="1s", data-wow-delay=".3s")
                        .faculties-main__title
                           .faculties-main__img--title Онлайн марафон<br>"Биохакинг.<br>Живая диета"
                           .faculties-main__more ПОДРОБНЕЕ
                    .btn__wrapper.btn__wrapper--center-overlapped
                        .btn.btn--full 6 000 руб.
                    p.faculties-courses__desc
                        | Практика оптииизации рациона. Индивидуальные системы питания. Детоксикация. Удаление "мусора".

            .col-1-4.col-sm-1-2.col-xs-1-1
                .faculties-main__item
                    a(href="#null").faculties-main__img.faculties-courses__img-6.animated.flipInX(data-wow-duration="1s", data-wow-delay=".6s")
                        .faculties-main__title
                            .faculties-main__img--title Здоровье<br>гормональной<br>системы
                            .faculties-main__more ПОДРОБНЕЕ
                    .btn__wrapper.btn__wrapper--center-overlapped
                        .btn.btn--full 900 руб.
                    p.faculties-courses__desc
                        | Жизнь &mdash; это игра гормонов. Устройство гормональной системы. Методы коррекции нарушений.

            .col-1-4.col-sm-1-2.col-xs-1-1
                .faculties-main__item
                    a(href="#null").faculties-main__img.faculties-courses__img-7.animated.flipInX(data-wow-duration="1s", data-wow-delay=".9s")
                        .faculties-main__title
                            .faculties-main__img--title Марафон<br>для женщин<br>"Полюби себя"
                            .faculties-main__more ПОДРОБНЕЕ
                    .btn__wrapper.btn__wrapper--center-overlapped
                        .btn.btn--full 3 900 руб.
                    p.faculties-courses__desc
                        | Копируя мужчину, женщина несчастна. Долг женцины &mdash; быть счастливой! Как быть наполненной и счастливой.

            .col-1-4.col-sm-1-2.col-xs-1-1
                .faculties-main__item
                    a(href="#null").faculties-main__img.faculties-courses__img-8.animated.flipInX(data-wow-duration="1s", data-wow-delay="1.2s")
                        .faculties-main__title
                            .faculties-main__img--title Подготовка.<br>Беременность.<br>Рождение ребенка.
                            .faculties-main__more ПОДРОБНЕЕ
                    .btn__wrapper.btn__wrapper--center-overlapped
                        .btn.btn--full 8 000 руб.
                    p.faculties-courses__desc
                        | Дети &mdash; высшая форма творчества. Физиология беременности. Роды и Послеродовой период.

        .line-divider

        h4(style="margin-top: 50px").title__wrapper.title__light-no-bottom-margin Студенты академии обретают не только уникальные<br>и востребованные профессии, но широкое, полное мировоззрение

        .line-divider-short

        h3.title__wrapper.title__light-no-bottom-margin Каждый студент получает знания<br>и практические навыки:

        .list-in-oval.list-in-oval__wrapper.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".4s")
            ul.list-in-oval__list-left
                li Строения и законов вселенной
                li Законов успешной кармы (деятельности)
                li Определения предназначения и призвания
                li Гармоничных отношений, энергообмена и синергии
                li Очищения тела и сознания, здорового питания и дыхания
                li Развития характера, талантов и способностей
            ul.list-in-oval__list-right
                li Концентрация сознания, решительности и бесстрашия
                li Управления судьбой, секреты пути и личного успеха
                li Законов общества и цивилизации
                li Историю Знания
                li Формулу счастия
                li Психологии личности и общества

