.how
    .container
        .text-border__wrapper.text-border__wrapper--title
            .text-border__title.text-border__title--title
                span как проходит

            .text-border__text.text-border__text--title обучение

        .how__text
            p Онлайн-курс можно пройти в любое время. С каждым студентом работает куратор. Каждую неделю проходят вебинары, где вы получите ответы на вопросы по курсу.
            p Каждый очный курс в Индии проходит в священных местах. Курсы в России и Казахстане проходят в городских и загородных условиях.

        .how__bg
            .how__wrapper
                h2.title__wrapper.title__wrapper--center-overlapped
                    .title__main Программа
                    .title__subtext каждого курса включает:

                .how__twelve
                    .twelve-left
                        .twelve-left__item Лекций
                        .twelve-left__item Практик

                    .twelve-center 12

                    .twelve-right
                        .twelve-right__item Медитаций
                        .twelve-right__item Занятий йогой

                .how__desc
                    .how__budda

                    ul.how__list
                        li.how__item Фундаментальные знания нескольких древних традиций
                        li.how__item Йога планет — комплекс по гармонизации энергий планет
                        li.how__item Экскурсия по древним святым местам (для курса в Индии)
                        li.how__item Ягия — ритуал очищения судьбы (для курса в Индии)

        .btn__wrapper.btn__wrapper--center-overlapped
            .btn.btn--full Узнать больше

