.program
    .container
        h2.title__wrapper.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".1s")
            .title__main Программа
            .title__subtext.with-border
                span обучения

        .program__wrapper.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".4s")
            .program__title Cостоит из 4 курсов по 6 месяцев,<br>экзамена и практики (от 6 до 12 месяцев)
            .program__desc Каждый курс включает 108 часов фундаментальных лекций и практик, все необходимые материалы, видео уроки, поддержку куратора, а также более 33 онлайн вебинаров с ответами на все вопросы.

        .text-border__wrapper.text-border__wrapper--program
            .text-border__title.text-border__title--program
                span При очном обучении

            .text-border__text.text-border__text--program выдаются все необходимые учебные материалы и аюрведические средства для очистительных практик
