.schedule
    .container
        h2.title__wrapper.wow.animated.fadeIn(data-wow-duration="1s", data-wow-delay=".1s")
            .title__pink Расписание
            .title__h2.with-border.with-border__long
                span Очных курсов академии

        h3.title__wrapper.title__light Ступень I
        table.responsive-table-1
            tr
                td.schedule__icon
                    include ../svg/clock.svg
                td.schedule__icon
                    include ../svg/map.svg
                td
                td
            tr

                td 26.04.20 — 21 день
                td Москва, Ru
                td Три смысла жизни
                td
                    a.underline-link Подробнее
            tr
                td 26.03.20 — 21 день
                td С-Петербург, Ru
                td Три смысла жизни
                td
                    a.underline-link Подробнее
            tr
                td 26.03.20 — 21 день
                td Атерау, Kz
                td Три смысла жизни
                td
                    a.underline-link Подробнее

        h3.title__wrapper.title__light Ступень II
        table.responsive-table-1
            tr
                td.schedule__icon
                    include ../svg/clock.svg
                td.schedule__icon
                    include ../svg/map.svg
                td
                td
            tr

                td 26.24.20 — 14 дней
                td Naggar, In
                td Фокус. Успех. Джйотиш
                td
                    a.underline-link Подробнее
            tr
                td 26.24.20 — 14 дней
                td Goa, In
                td Фокус. Успех. Джйотиш
                td
                    a.underline-link Подробнее

        h3.title__wrapper.title__light Ступень III
        table.responsive-table-1
            tr
                td.schedule__icon
                    include ../svg/clock.svg
                td.schedule__icon
                    include ../svg/map.svg
                td
                td
            tr

                td 26.24.20 — 14 дней
                td Naggar, In
                td Фокус. Успех. Джйотиш
                td
                    a.underline-link Подробнее
            tr
                td 26.24.20 — 14 дней
                td Goa, In
                td Фокус. Успех. Джйотиш
                td
                    a.underline-link Подробнее

        h3.title__wrapper.title__light Ступень IV
        table.responsive-table-1
            tr
                td.schedule__icon
                    include ../svg/clock.svg
                td.schedule__icon
                    include ../svg/map.svg
                td
                td
            tr

                td 26.24.20 — 14 дней
                td Naggar, In
                td Фокус. Успех. Джйотиш
                td
                    a.underline-link Подробнее
            tr
                td 26.24.20 — 14 дней
                td Goa, In
                td Фокус. Успех. Джйотиш
                td
                    a.underline-link Подробнее

        h3.title__wrapper.title__light Отдельные курсы
        table.responsive-table-1
            tr
                td.schedule__icon
                    include ../svg/clock.svg
                td.schedule__icon
                    include ../svg/map.svg
                td
                td
            tr

                td 26.24.20 — 14 дней
                td Naggar, In
                td Фокус. Успех. Джйотиш
                td
                    a.underline-link Подробнее
            tr
                td 26.24.20 — 14 дней
                td Goa, In
                td Фокус. Успех. Джйотиш
                td
                    a.underline-link Подробнее