.teachers
    .container
        .teachers__title <span>курс ведут</span>Педагоги
            
        .teachers__list.grid.grid-top
            .col-1-2.col-sm-1-1
                .teachers__item
                    .teachers__img(style="background-image: url(img/custom/teacher1.jpg);")
                        .teachers__bg
                            a(href="#null").teachers__icon
                                include ../svg/facebook-transparent.svg

                    .teachers__desc
                        a(href="#null").teachers__user Алакх Ниранжан
                        .teachers__skills Ведическая астрология (Джйотиш), психология, Фундаментальные знания
                        .teachers__info
                            p Философ, Физик, Психолог, Антрополог, Вайшнав. Астролог Джйотиш (оказал помощь тысячам искателей). Ученик Джйотиш Ачария Шри Раджендра Бушан Госвами Махарадж.
                            p В прошлом мастер боевых искусств, судья, член сборной страны (каратэ, кунг-фу). Инженер и лектор, организатор.

            .col-1-2.col-sm-1-1
                .teachers__item
                    .teachers__img(style="background-image: url(img/custom/teacher2.jpg);")
                        .teachers__bg
                            a(href="#null").teachers__icon
                                include ../svg/facebook-transparent.svg

                    .teachers__desc
                        a(href="#null").teachers__user ВИНА АЧАРИЯ
                        .teachers__skills Наставник, Классическая Йога, Мантра-видья, медитация
                        .teachers__info
                            p Йогин с 20-летним стажем. Окончила Бихарскую Школу Йоги и Джайн Вишва Бхарати Институт. Степень мастера Science of Living (Наука жизни). Провела сотни семинаров по всему миру. Основала Йога ашрам Yoga Dham Ashram (yogadham.in) в Наггаре, Гималаи, Индия.

            .col-1-2.col-sm-1-1
                .teachers__item
                    .teachers__img(style="background-image: url(img/custom/teacher3.jpg);")
                        .teachers__bg
                            a(href="#null").teachers__icon
                                include ../svg/facebook-transparent.svg

                    .teachers__desc
                        a(href="#null").teachers__user Шиям
                        .teachers__skills Гьяна-йога, раджа-йога, теология, энергосистема человека
                        .teachers__info
                            p Монах, отрешенный (Садху).
                            p Мастер йоги знания и концентрации.
                            p Более 15 лет живет в святых местах Индии (Бриджабаси). Изучает йогу любви к Всевышнему (Раджа-йогу), восточную философию, психологию. Доступно поможет осознать суть духовного пути и место Всевышнего в жизни каждого.

            .col-1-2.col-sm-1-1
                .teachers__item
                    .teachers__img(style="background-image: url(img/custom/teacher4.jpg);")
                        .teachers__bg
                            a(href="#null").teachers__icon
                                include ../svg/facebook-transparent.svg

                    .teachers__desc
                        a(href="#null").teachers__user АЛАК ПУРИ МАХАРАДЖ САДХУ БАБА
                        .teachers__skills Раджа-Йога
                        .teachers__info
                            p 20 лет практикует йогу и медитацию. Обрёл статус Махарадж. Имеет степень по философии. Живёт в Индии, в Гималаях. Принял посвящение в садху (монахи) священного ордена йогинов Juna Akhara. Использует средства йоги для помощи в самореализации. Основатель Good trip club.

        .btn__wrapper.btn__wrapper--center
            .btn.btn--full Все педагоги
                
                