.welcome
    .container
        h2.text-border__wrapper.text-border__wrapper--title
            .text-border__title.text-border__title--title
                span Приветствие

            .text-border__text.text-border__text--title духовного наставника академии

        .welcome__item
            .welcome__img(style="background-image: url(img/custom/rajendra.png);")
            .welcome__desc
                .welcome__name Шри Раджендра Бушан
                .welcome__skills
                    p Госвами Махарадж Джйотиш Ачарий. Вайшнав.
                    p Хранитель Рудра Сампрадайи.
                    p Потомственный пандит в 21-м поколении

                .welcome__icon
                    include ../svg/play.svg
