/********************************
      Select control custom
*********************************/
.select_option
  position relative
  width 100%

select::-webkit-inner-spin-button
  cursor: pointer;

.select_option:after
  pointer-events: none;
  background: #f5f6f7 url(../img/svg/arrow-bottom.svg) 50% 50% no-repeat;
  height: 56px;
  width: 40px;
  position: absolute;
  right: 2px;
  top: 1px;
  content ''

.select_option.open:after
  background-color #fff
