/*******************************************
      Slider navigation (arrow + dot)
********************************************/
.uk-slidenav-position
  position relative

a.uk-slidenav
  position absolute
  top 50%
  margin-top -15px
  text-align center
  line-height 42px
  transition 0.5s

  &:before
    font-family FontAwesome
    font-size 46px
    display block
    color $base-color

  &:hover
    background-color none

    &:before
      color $base-color-hover

.uk-slidenav-next
  right 20px

  +to-width($screen-md-max)
    right 5px

.uk-slidenav-previous
  left 20px

  +to-width($screen-md-max)
    left 5px

.uk-slidenav-next:before
  //content "\f105"

.uk-slidenav-previous:before
  //content "\f104"

.uk-dotnav
  position relative
  z-index 98
  margin-top: -50px;
  margin-left: -10px;
  margin-bottom: 23px;

  >*
    padding-left 10px

  >*>*
    width 10px
    height 10px
    background transparent
    border 1px solid #fff

  >.uk-active>*
    background-color $base-color
    border-color $base-color

  >*>:focus,
  >*>:hover
    background-color $base-color
    border-color $base-color

